{% extends 'base.html' %} {% block content %} {% load static %}
<body class="background">
	<div class="jumbotron index-jumbotron">
		<h1
			class="display-3 center-align-text text-light"
			style="font-size: 55pt"
			id="hed"
		>
			Image Retrieval
		</h1>
		<p class="lead center-align-text text-light" style="font-size: 20pt">
			TODO: Add Project Desc and custom CSS
		</p>
	</div>
	<form method="POST" action="{% url 'app:index' %}" novalidate>
		{% csrf_token %}
		<div class="d-flex flex-column">
			<input type="search" name="query" class="required form-control" id="srch" />
			<input type="submit" class="btn btn-primary" id="sub" />
		</div>
	</form>
</body>
{% endblock %}
