{% extends 'base.html' %} {% block content %} {% load static %}
<body class="background">
	<div class="jumbotron index-jumbotron">
		<h1
			class="display-3 center-align-text text-light"
			style="font-size: 55pt"
			id="hed"
		>
			Image Retrieval
		</h1>
        <br>
		<p class="lead center-align-text text-light">
			This is a web app designed to demonstrate the process of Content Based Image Retrieval.
		</p>
	</div>
    <br>
    <form class="search" method="POST" action="{% url 'app:results' %}" novalidate>
        {% csrf_token %}

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="input-group">
                        <input type="search" name="query" class="required form-control search-box" placeholder="Search for images">
                        <span class="input-group-btn">
                            <button name="btn-search" class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <button name="btn-update" class="btn btn-primary" type="submit">
                                Update
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
{% endblock %}
