.index-jumbotron {
	background: rgba(31, 30, 30, 0.676);

}
#hed {
	text-align: center;
	padding-top: 3%;
}
#srch {
	width: 300px;
	margin-left: 60%;
}
#sub {
	width: 50px;
	margin-left: 69%;
}
.background {
    background-image: url("../img/bench.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.center-align-text {
    text-align: center;
    font-size: medium;
}
